/** 
*
*	Hyperarts - Genesis 2.1.2 Mobile Nav Plugin
*
*	Plugin Name: Hyperarts - Genesis 2.1.2 Mobile Nav
*	Plugin URI: http://wordpress.org/plugins/hello-dolly/
*	Description: Putting OZZY RODRIGUEZ awesome code into a simple to install plugin.  Based on Genesis 2.1.2 and 800px break point.
* 	Author: OZZY RODRIGUEZ & Adam LaBarge of Hyperarts
*	Version: 1.0.0
*	Author URI: http://ozzyrodriguez.com/ & https://github.com/adamplabarge &http://hyperarts.com
*
*	From here: http://wpbacon.com/tutorials/genesis-responsive-menu-2-0/
*/

/* Responsive Navigation
---------------------------------------------------------------------------------------------------- */
 
/* Standard Navigation
--------------------------------------------- */
 
nav {
	clear: both;
}
 
/* Navigation toggles
--------------------------------------------- */
 
.sub-menu-toggle,
.menu-toggle {
	display: none;
	visibility: hidden;
}
 
/* Navigation toggles - Ensure Menu Displays when Scaled Up
--------------------------------------------- */
 
@media only screen and (min-width: 801px) {
 
	nav {
		display: block !important;
	}
}
 
/* Navigation toggles - Mobile (Change max width as you see fit)
--------------------------------------------- */
 
@media only screen and (max-width: 800px) {
 
	.menu-toggle,
	.sub-menu-toggle {
		display: block;
		font-size: 20px;
		font-size: 4rem;
		font-weight: 700;
		margin: 0 auto;
		overflow: hidden;
		padding: 20px;
		padding: 1rem;
		text-align: center;
		visibility: visible;
		line-height: .5;
	}
 
	button.menu-toggle,
	button.sub-menu-toggle {
		background-color: transparent;
		color: #999;
	}
 
	.sub-menu-toggle {
		padding: 18px;
		padding: 1.8rem;
		position: absolute;
		right: 0;
		top: 0;
	}
 
	.menu-toggle:before {
		content: "\2261";
	}
 
	.menu-toggle.activated:before {
		font-family: 'entypo';
    	speak: none;
    	font-style: normal;
    	font-weight: normal;
    	font-variant: normal;
    	text-transform: none;
    	-webkit-font-smoothing: antialiased;
		content: "\274C";
	}
 
	.sub-menu-toggle:before {
		content: "+";
	}
 
	.sub-menu-toggle.activated:before {
		content: "-";
	}
 
	nav {
		display: none;
		position: relative;
	}
 
	.genesis-nav-menu .menu-item {
		background-color: @background-color-lit-hex;
		background-color: @background-color-lit-rgba;
		border-bottom: 1px solid;
		border-color: @background-color-dark-hex;
		border-color: @background-color-dark-rgba;
		display: block;
		position: relative;
		text-align: center;
		-webkit-box-shadow: 0 8px 6px -6px rgba(0,0,0,0.8);
	    -moz-box-shadow: 0 8px 6px -6px rgba(0,0,0,0.8);
	    box-shadow: 0 8px 6px -6px rgba(0,0,0,0.8);
	}
 
	.genesis-nav-menu .menu-item:hover {
		position: relative;
	}
 
	.genesis-nav-menu .sub-menu {
		clear: both;
		display: none;
		opacity: 1;
		position: static;
		width: 100%;
	}
 
	.genesis-nav-menu .sub-menu a {
		border-left: 0;
		position: relative;
		width: auto;
	}
 
	.genesis-nav-menu .sub-menu .sub-menu {
		margin: 0;
	}
 
	.genesis-nav-menu .sub-menu .sub-menu a {
		background-color: #f5f5f5;
		padding-left: 30px;
	}
 
	.genesis-nav-menu .sub-menu .sub-menu .sub-menu a {
		background-color: #fff;
		padding-left: 40px;
	}
 
	.nav-primary a:hover,
	.nav-primary .current-menu-item > a {
		color: #333;
	}
 
}